<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Online store</title>

<link rel="stylesheet" th:href="@{resources/css/categories.css}">
<link rel="stylesheet" th:href="@{/resources/css/main.css}"
	href="/onlinestore/src/main/webapp/resources/css/main.css">
<link rel="stylesheet" th:href="@{/resources/css/header/header.css}"
	href="/onlinestore/src/main/webapp/resources/css/header/header.css">
<link rel="stylesheet" th:href="@{/resources/css/header/autorization_popup.css}"
	href="/onlinestore/src/main/webapp/resources/css/header/autorization_popup.css">
<link rel="stylesheet" th:href="@{/resources/css/header/profile_popup.css}"
	href="/onlinestore/src/main/webapp/resources/css/header/profile_popup.css">
</head>

<body>
	<nav th:insert="~{header/header :: header}"></nav>
	<!-- cards container -->
	<section class="product">
		<div class="product-container">
			<div class="product-card" th:each="product : ${products}" 
				th:data-id= "${product.id}" 
				onclick="productCardClick(this.getAttribute('data-id'))"
				>
      			<div class="product-image">
        			<img th:src=${product.imagesURL[0]} 
        				th:unless="${#lists.isEmpty(product.imagesURL)}" 
        				class="product-thumb" alt="">
        			<button class="card-btn" type="button" name="button">add to wishlist</button>
      			</div>
      			<div class="product-info">
        			<h2 class="product-brand" th:text=${product.name}></h2>
        			<p class="product-short-description" th:text=${product.shortDescription}></p>
        			<span class="price" th:text=${product.price}></span>
        			<span class="actual-price" th:text=${product.actualPrice}></span>
      			</div>
    		</div>
		</div>
	</section>
  <script src="resources/js/product_catalog.js"></script>
</body>
</html>